#footer-above {
    display: flex;
    min-height: 100px;
    width: 100%;
}

#snapdragon-mobile-button-group {
    position: fixed;
    display: flex;
    bottom: -1px;
    left: 0;
    right: 0;
    min-height: 50px;
    background-color: var(--wp--preset--color--primary);
    background: linear-gradient(to right, color-mix(in srgb, var(--wp--preset--color--primary) 30%, var(--wp--preset--color--base)) 0%, color-mix(in srgb, var(--wp--preset--color--primary) 60%, var(--wp--preset--color--base)) 50%, color-mix(in srgb, var(--wp--preset--color--primary) 30%, var(--wp--preset--color--base)) 100%);
    
    .menu-wrapper {
        display: flex;
        flex: 1;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;

            li {
                display: flex;
            }
        }

        .snapdragon-nav-button {
            position: relative;
            border: none;
            outline: none;
            height: 100%;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--wp--preset--font-family--font-awesome);
            font-weight: 900;
            background-color: transparent;
            color: var(--wp--preset--color--contrast);

            img {
                position: relative;
                height: 1.35rem;
                width: auto;
                clip-path: circle(40%);
                filter: drop-shadow( 0, 3px, 3px, #000);
            }
    
            svg {
                color: inherit;
                height: 1.35rem;
            }

        }
        
    }
}